@model BE.Customer

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <br />
    <section id="values" class="values">
        <div class="container">
            <dl class="row">
                <dt class="col-sm-2">
                    نام
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    شماره تلفن
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    رمز
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Password)
                </dd>
            </dl>
            <div>
                @{
                    Random random = new Random();
                    int ra = random.Next(1000, 5000);
                    if (ra % 2 != 0)
                    {
                        ra++;
                    }
                    int numk = @ViewBag.customerId + ra;
                    int ram = ra / 2;
                    <a asp-action="Delete" asp-route-id="@Model.ID">حذف|</a>
                    <a asp-action="Edit" asp-route-id="@Model.ID">تصحیح|</a>
                    <a asp-action="Index" asp-route-id="@numk" asp-route-numk="@ram" asp-route-IsRegister="true">بازگشت</a>
                }
            </div>
        </div>
    </section>
</main>